{% extends "base.html" %}

{% block title %} Polynomial Regression Model {% endblock %}

{% block content %}
  <h1>Polynomial Regression Model</h1>
  <form action="/predict" method="post">
    <label for="reviews">Reviews:</label>
    <input type="number" id="reviews" name="reviews"><br><br>
    <label for="size">Size:</label>
    <input type="number" id="size" name="size"><br><br>
    <label for="installs">Installs:</label>
    <input type="number" id="installs" name="installs"><br><br>
    <label for="price">Price:</label>
    <input type="number" id="price" name="